<script type="text/javascript">

  $( document ).ready(function() {

    $('[id^=video_]').on('click', function() {
        var tmp      =  $(this).attr('id');
        var match    = /^video_(\d+)$/.exec(tmp);
        var video_id = RegExp.$1;

        // kludge, I know...
        tmp = '<%= video_register_path(999) %>'
        var url = tmp.replace("999", video_id);

        $.ajax({
            type: "GET",
            url: url,
            success: function(res)  {
                console.log( res.message );
                $('#iterations').html( res.iterations );
            }
        });
    });
  });

</script>


<h1>Listing videos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_user %>
        <th>Viewings</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.name %></td>
        <% if current_user %>
          <td><%= current_user.iterations(video) %></td>
        <% end %>
        <td><%= link_to 'play', video_play_path(video.id), :class => "play_button", :id => "video_#{video.id}" %></td>

        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
